/*
 * -------------------------------------------------------------
 *  
 * File: _vars.scss
 * Project: Amoplex Technologies
 * File Created: Monday, 25th January 2021 4:19:57 pm
 * Author: Lucas Schüller (lucas@amoplex.de)
 * -----
 * Last Modified: Monday, 25th January 2021 4:19:57 pm
 * Modified By: Lucas Schüller (lucas@amoplex.de)
 * -----
 * Copyright - 2021 Amoplex Technologies
 *  
 * -------------------------------------------------------------
 */

$black: #232427;
$light: #fff;
$shadow: 0 0 30px rgba($color: #000000, $alpha: 0.16);
body {
    font-family: "Montserrat", sans-serif;
}